apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: delivery-app
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/xofyy/Last-Mile-Delivery-Backend-Engine.git
    targetRevision: main
    path: k8s/charts/delivery-app
    helm:
      valueFiles:
        - values.yaml
        - values-prod.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
