# --- DEV ENVIRONMENT OVERRIDES ---

backend:
  replicaCount: 1
  resources:
    requests:
      cpu: "10m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "1536Mi"
  livenessProbe:
    initialDelaySeconds: 90
    periodSeconds: 15
    failureThreshold: 5
  readinessProbe:
    initialDelaySeconds: 90
    periodSeconds: 15
    failureThreshold: 5
  env:
    springProfile: "dev" # Activates dev profile in the application
  image:
    tag: 41b0863432c472cf2529ab9d8c7e86694e8904b4
ai:
  replicaCount: 1
  resources:
    requests:
      cpu: "10m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
  image:
    tag: 41b0863432c472cf2529ab9d8c7e86694e8904b4
postgres:
  storage: "1Gi" # Dev for small disk is enough
  resources:
    requests:
      cpu: "10m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
rabbitmq:
  resources:
    requests:
      cpu: "10m"
      memory: "150Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
redis:
  resources:
    requests:
      cpu: "5m"
      memory: "64Mi"
    limits:
      cpu: "200m"
      memory: "256Mi"
# Dev environment LoadBalancer is expensive, use ClusterIP
# backend:
#   service:
#     type: ClusterIP
